.container-vaccine {
  display: flex;
  height: 100vh;
}

.container-vaccine-content {
  flex: 1;
  padding: 20px;
}

.container-vaccine-content h1 {
  margin-top: 0;
  font-size: 28px;
}

.container-vaccine-content__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container-vaccine-content h3 {
  color: #6c757d;
}
