.container-card {
  display: flex;
  height: 100vh;
}

.container-card-content {
  flex: 1;
  padding: 20px;
}

.container-card-content h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
}

.container-card-content__card-actions {
  margin-bottom: 20px;
}

.container-vaccine-content__card-table {
  background-color: var(--color-surface);
  border-radius: 8px;
}
